<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.caregiverphase2">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CaregiverPhase2"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.activity.AddBankAccountActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.EarningsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.DocumentManagementActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.OpenJobListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.OpenBidsListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.QuickCallListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.OnGoingJobDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.UpcommingJobDetailsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activity.QuickCallsDetailsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activity.BiddedJobDetailsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activity.AddCertificateActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activity.AddEducationActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activity.AddBioActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activity.FullScreenNotifyActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activity.EmailVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.SearchLocationActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAeOdrrTE5shsq875mLaIYsDesJoXwmGXI" />

        <activity
            android:name=".ui.activity.AskLocationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.EducationAndCertificateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.BasicAndHomeAddressActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.JobDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.AuthActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ChooseLoginRegActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".utils.MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>